<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="login_hash_cj3022234.Properties.Settings.logins_julliaConnectionString"
            connectionString="Data Source=sqlexpress;Initial Catalog=logins.jullia;User ID=aluno;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>